*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    border: 0; 
    vertical-align: baseline; 
}

html, body {
    height: 100%;
    background-color:antiquewhite;
    scroll-behavior: smooth;
    font-size: 1.4em;
}

@media (max-width: 1920px) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: 820px) {
    body {
        font-size: 0.4em;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 0.32em;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100%;
    overflow: hidden; /* do not scroll horizontally */
}

.accordion {
    margin: 0 auto;
    width: 75%;
    padding: 30px 15px;   
}  

h1 {
    color: #494848;
    margin-bottom: 15px;
}

  /* Radio Inputs */
input[name='panel'] {
    display: none;  
}

  /* Labels */
label {
    display: block;
    padding: 1em;
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,antiquewhite 50%,rgb(250, 241, 231) 55%,rgb(250, 243, 235) 100%);
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 0 #fff;
    font-size: 1.5em;
    text-shadow: 0 1px 0 rgb(255 255 255 / 75%);
    color: rgb(180, 104, 4);
    cursor: pointer;
    transition: all .5s cubic-bezier(0.865, 0.140, 0.095, 0.870);
}   

.inner-container {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.inner-container svg {
    visibility: hidden;
    width: 1em;
    height: 1em;
    color: #666;
    text-shadow: 0 1px 0 rgb(0 0 0 / 75%); 
}

input:checked + label {
    color: #494848;
}
  
/* Panel Content */
.accordion__content {
    overflow: hidden;
    max-height: 0;
    position: relative;
    padding: 0 1.5em;
    color: #eee;
    vertical-align: baseline;
    transition:max-height 0.5s ease-out;
}

.accordion-container img {
    margin-top: 1em;
    width: 100%;
    max-width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion__content :not(:last-of-type) {
    box-shadow: inset 0 -2px 2px rgba(#000,.25), inset 4px 0 0 0 rgb(180, 104, 4), inset 0 3px 6px rgba(#000,.75);
}

.accordion__header {
    padding: 1em 0;
  }
    
.accordion__body {
    font-size: .825em;
    line-height: 1.4em;
}

/* Size Variations */
input[name='panel']:checked ~ label .accordion__content {
    max-height: 30em;
}

.panel-container:active label {
    color: rgb(132, 75, 1);
    opacity: 0.6;
}

.panel-container:active .accordion__content img {
    opacity: 0.6;
    transition: all 0.5s;
}

.panel-container:active .inner-container svg {
    color: rgb(132, 75, 1);
    opacity: 0.6;
}

@media(hover:hover){
    .accordion-container:hover .inner-container svg {
        visibility: visible;
    }
    
    .accordion-container:hover label {
        color: #494848;
    }
        
    label:hover {
        color: #494848;
    }

    .accordion__content:hover {
        cursor: pointer;
    }

    .panel-container:hover .accordion__content {
        max-height: 30em;
    }
    
    .panel-container:hover .inner-container svg {
        visibility: visible;
        transform: rotate(45deg);
    }
    
    .accordion-container:hover input:checked ~ label .inner-container svg {
        visibility: visible;
        transform: rotate(45deg);
    }
}